<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="characters" type="NorthHorizon.LambdaCalculator.UI.Configuration.CharacterSetConfigurationSection, NorthHorizon.LambdaCalculator.UI.Library"/>
	</configSections>

	<characters>
		<groups>
			<group name="Constructs">
				<characters>
					<character name="Abstraction" value="λ" alias="\" shortcut="control+l"/>
					<character name="Type Abstraction" value="Λ" shortcut="control+shift+l"/>
					<character name="Goes To" value="→" alias="-&gt;"/>
					<character name="Inject" value="in"/>
					<character name="Project" value="π" shortcut="control+p"/>
					<character name="Fix Point" value="μ" shortcut="control+m"/>
					<character name="Case" value="case"/>
					<character name="For All" value="∀" shortcut="control+shift+a"/>
				</characters>
			</group>

			<group name="Operators">
				<characters>
					<character name="Add" value="+"/>
					<character name="Subtract" value="-"/>
					<character name="Multiply" value="×" alias="*"/>
					<character name="Divide" value="÷" alias="/"/>

					<character name="And" value="&amp;&amp;"/>
					<character name="Or" value="||"/>

					<character name="Less Than" value="&lt;"/>
					<character name="Less Than Or Equal To" value="≤" alias="&lt;="/>
					<character name="Greater Than" value="&gt;"/>
					<character name="Greater Than Or Equal To" value="≥" alias="&gt;="/>
					<character name="Equals" value="="/>
					<character name="Not Equal To" value="≠" alias="!="/>
				</characters>
			</group>
			
			<group name="Greek Letters">
				<characters>
					<character name="alpha" value="α" alias="'a" shortcut="alt+a"/>
					<character name="beta" value="β" alias="'b" shortcut="alt+b"/>
					<character name="gamma" value="γ" alias="'c" shortcut="alt+c"/>
					<character name="delta" value="δ" alias="'d" shortcut="alt+d"/>
					<character name="epsilon" value="ε" alias="'e" shortcut="alt+e"/>
					<character name="zeta" value="ζ" alias="'f" shortcut="alt+f"/>
					<character name="eta" value="η" alias="'g" shortcut="alt+g"/>
					<character name="theta" value="θ" alias="'h" shortcut="alt+h"/>
					<character name="iota" value="ι" alias="'i" shortcut="alt+i"/>
					<character name="kappa" value="κ" alias="'j" shortcut="alt+j"/>
					<character name="lambda" value="λ" alias="'k" shortcut="alt+k"/>
					<character name="mu" value="μ" alias="'l" shortcut="alt+l"/>
					<character name="nu" value="ν" alias="'m" shortcut="alt+m"/>
					<character name="xi" value="ξ" alias="'n" shortcut="alt+n"/>
					<character name="omnicron" value="ο" alias="'o" shortcut="alt+o"/>
					<character name="pi" value="π" alias="'p" shortcut="alt+p"/>
					<character name="rho" value="ρ" alias="'q" shortcut="alt+q"/>
					<character name="sigma" value="σ" alias="'r" shortcut="alt+r"/>
					<character name="tau" value="τ" alias="'s" shortcut="alt+s"/>
					<character name="upsilon" value="υ" alias="'t" shortcut="alt+t"/>
					<character name="phi" value="φ" alias="'u" shortcut="alt+u"/>
					<character name="chi" value="χ" alias="'v" shortcut="alt+v"/>
					<character name="psi" value="ψ" alias="'w" shortcut="alt+w"/>
					<character name="omega" value="ω" alias="'x" shortcut="alt+x"/>

					<character name="Alpha" value="Α" shortcut="alt+shift+a"/>
					<character name="Beta" value="Β" shortcut="alt+shift+b"/>
					<character name="Gamma" value="Γ" shortcut="alt+shift+c"/>
					<character name="Delta" value="Δ" shortcut="alt+shift+d"/>
					<character name="Epsilon" value="Ε" shortcut="alt+shift+e"/>
					<character name="Zeta" value="Ζ" shortcut="alt+shift+f"/>
					<character name="Eta" value="Η" shortcut="alt+shift+g"/>
					<character name="Theta" value="Θ" shortcut="alt+shift+h"/>
					<character name="Iota" value="Ι" shortcut="alt+shift+i"/>
					<character name="Kappa" value="Κ" shortcut="alt+shift+j"/>
					<character name="Lambda" value="Λ" shortcut="alt+shift+k"/>
					<character name="Mu" value="Μ" shortcut="alt+shift+l"/>
					<character name="Nu" value="Ν" shortcut="alt+shift+m"/>
					<character name="Xi" value="Ξ" shortcut="alt+shift+n"/>
					<character name="Omnicron" value="Ο" shortcut="alt+shift+o"/>
					<character name="Pi" value="Π" shortcut="alt+shift+p"/>
					<character name="Rho" value="Ρ" shortcut="alt+shift+q"/>
					<character name="Sigma" value="Σ" shortcut="alt+shift+r"/>
					<character name="Tau" value="Τ" shortcut="alt+shift+s"/>
					<character name="Upsilon" value="Υ" shortcut="alt+shift+t"/>
					<character name="Phi" value="Φ" shortcut="alt+shift+u"/>
					<character name="Chi" value="Χ" shortcut="alt+shift+v"/>
					<character name="Psi" value="Ψ" shortcut="alt+shift+w"/>
					<character name="Omega" value="Ω" shortcut="alt+shift+x"/>
				</characters>
			</group>
		</groups>
	</characters>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
